[sqlalchemy]
local_db_uri = mysql+mysqlconnector://root:Pass1234@localhost/mamba?charset=utf8mb4
aws_db_uri = mysql+mysqlconnector://test:zhH-WAZ-WhY-d2V@chat-msg.cnoosqac3hj3.us-west-2.rds.amazonaws.com/chat?charset=utf8mb4
# local_db_uri = mysql+pymysql://root:Pass1234@localhost/mamba?charset=utf8mb4
test_db_uri = sqlite://

[selenium]
driver = firefox

[general]
timeout = 5